
.dashboard .info {
    display: flex;
}

.dashboard .group {
    width: 250px;
    /* padding: 10px 20px 0px 20px; */
    height: 147px;
    margin: 0px;
    margin-right: 50px;
    color: white;
    border-radius: 20px;
    display: list-item;
}

.dashboard .group .row {
    display: flex;
    margin: 0;

}

.dashboard .group .row .nd {
    text-align: right;
    margin: auto;
}
.dashboard .group .row i{
    margin: auto;
}
.dashboard .group .row2 i{
    margin: auto;
    font-size: 110%;
}

.dashboard .group .row .nd label {
    font-size: 50px;
}

.dashboard .group .row2 {
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-radius: 0px 0px 20px 20px;
    padding: 10px 25px;
}

.dashboard .group .row2 a {
    color: #337ab7;
    text-decoration: none;
}

.dashboard .group1 {
    background-color: #337ab7;
    border-color: #337ab7;
}
.dashboard .group2 {
    border-color: #5cb85c;
    background-color: #5cb85c;
}
.dashboard .group3 {
    border-color: #f0ad4e;
    background-color: #f0ad4e;
}
.dashboard .group4 {
    border-color: #d9534f;
    background-color: #d9534f;
}
